$maxWidth: 1440;
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / 1280));
  line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / 1280));
}