@font-face {
  font-family: "Inter";
  src: url(fonts/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: "Stengazeta";
  src: url(fonts/stengazeta/Stengazeta-Regular.ttf);
}
@font-face {
  font-family: "Rhytmic";
  src: url(fonts/rhytmic/Rhythmic.otf);
}
* {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

.section-headline {
  font-family: Rhytmic;
  text-transform: uppercase;
  font-size: calc(40px + 24 * (100vw - 320px) / 1280);
  line-height: calc(40px + 24 * (100vw - 320px) / 1280);
}

.header-link, .menu-link {
  color: var(--main-white);
  font-size: 18px;
}

.header {
  background-color: var(--main-gray);
  height: 75px;
  width: 100vw;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.header .header-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrapper .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .header-wrapper .header-burger {
  cursor: pointer;
  display: none;
  background: none;
  border: none;
}
@media screen and (max-width: 960px) {
  .header .header-wrapper .header-nav, .header .header-wrapper .header-phone {
    display: none;
  }
  .header .header-wrapper .header-burger {
    display: block;
  }
}

.main {
  margin-top: 75px 0;
  position: relative;
}

.section-offer {
  width: 100%;
  height: 100vh;
  background-image: url("../images/offer-bckg.png");
  background-attachment: fixed;
}
.section-offer .offer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.section-offer .offer-wrapper .offer-headline {
  font-family: "Stengazeta";
  color: var(--main-white);
  width: 100%;
  letter-spacing: 10px;
  text-align: center;
  font-size: calc(40px + 35 * (100vw - 320px) / 1280);
  line-height: calc(40px + 35 * (100vw - 320px) / 1280);
}
.section-offer .offer-wrapper .offer-link {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--main-black);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.section-offer .offer-wrapper .offer-arrow-down-link {
  position: absolute;
  bottom: 25px;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .section-offer .offer-wrapper .offer-headline {
    letter-spacing: 0;
  }
}

.footer {
  height: 600px;
  background-image: url("../images/footer-bckg-2.png");
  padding: 100px;
}
.footer .footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer .footer-wrapper .footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
}
.footer .footer-wrapper .footer-nav .footer-nav-item {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.footer .footer-wrapper .footer-nav .footer-nav-item .footer-nav-item-headline {
  color: var(--main-white);
  font-size: calc(18px + 6 * (100vw - 320px) / 1280);
  line-height: calc(18px + 6 * (100vw - 320px) / 1280);
}
.footer .footer-wrapper .footer-nav .footer-nav-item .footer-nav-item-link {
  color: var(--main-white);
  text-align: center;
  font-size: calc(12px + 7 * (100vw - 320px) / 1280);
  line-height: calc(12px + 7 * (100vw - 320px) / 1280);
}
.footer .footer-wrapper .footer-copyright {
  align-self: flex-start;
  color: var(--main-dark-gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 25px;
}
.footer .footer-wrapper .footer-copyright .copyright-text {
  font-weight: 100;
  line-height: 20px;
  width: 65%;
  color: var(--main-light-gray);
  font-size: calc(12px + 4 * (100vw - 320px) / 1280);
  line-height: calc(12px + 4 * (100vw - 320px) / 1280);
}

.section-map {
  margin-top: 100px;
  width: 100%;
  height: 400px;
}

.banner {
  position: absolute;
  left: 50%;
  bottom: -75px;
  transform: translateX(-50%);
  z-index: 1;
  width: 30%;
  padding: 50px 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  font-size: calc(18px + 6 * (100vw - 320px) / 1280);
  line-height: calc(18px + 6 * (100vw - 320px) / 1280);
}
.banner h3 {
  font-weight: 100;
}
.banner h3, .banner strong {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .banner {
    opacity: 0;
  }
}

.modal-wrapper__active {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
}

.modal-wrapper__inactive {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.modal-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  transition: 0.2s;
}
.modal-wrapper .modal-menu-container__active {
  opacity: 1;
  transform: translateX(0);
}
.modal-wrapper .modal-menu-container__inactive {
  transform: translateX(100%);
  opacity: 0;
}
.modal-wrapper .modal-menu-container {
  height: 100%;
  width: 250px;
  background-color: var(--main-gray);
  float: right;
  transition: 0.4s;
}
.modal-wrapper .modal-menu-container .modal-menu-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-wrapper .modal-menu-container .modal-menu-wrapper .logo {
  margin-left: auto;
  margin-right: auto;
}
.modal-wrapper .modal-menu-container .modal-menu-wrapper .menu-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-wrapper .modal-menu-container .modal-menu-wrapper .menu-phone {
  margin-top: auto;
}
.modal-wrapper .modal-menu-container .modal-menu-wrapper .modal-close-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.yButtonBackground {
  background-color: #FE7B03 !important;
  color: #FE7B03 !important;
}

.yButtonWave {
  border-color: #FE7B03 !important;
  color: #FE7B03 !important;
}

@media screen and (max-width: 600px) {
  .footer-navigation, .footer-address {
    display: none !important;
  }
}/*# sourceMappingURL=base.css.map */