@import 'mixins/font';


.section-about {
    .about-wrapper {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .about-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 75px;
            padding: 75px 0;
            border: 2px solid black;
            border-left: none;
            border-right: none;
            

            .about-text {
                // font-size: 24px;
                text-align: center;
                // line-height: 40px;
                @include adaptive-font(24, 18);
            }
        }

        @media screen and (max-width: 960px) {
            .about-item {
                display: none;
            }
            .about-content {
                border: none;
                
            }
        }
    }
    
}


.section-info {
    .info-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 100px;
        .info-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 75px;
        }
        .reverse {
            flex-direction: row-reverse;
        }
        .info-item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 75px;

            .info-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 45px;
                width: 45%;

                @media screen and (max-width: 1440px) {
                    align-items: center;
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
                .info-headline {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    h3 {
                        font-family: Stengazeta;
                        text-transform: uppercase;
                        // line-height: 60px;
                        @include adaptive-font(40, 30);
                    }
                }
                .info-text {
                    // line-height: 34px;
                    margin-top: auto;
                    margin-bottom: auto;
                    @include adaptive-font(20, 14);
                    
                }
            }
            .info-img {
                img {
                    border-radius: 45px;
                }
            }
        }
        @media screen and (max-width: 1440px) {
            .info-item, .reverse {
                align-items: center;
                flex-direction: column;
            }
            .info-text {
                flex-grow: 1;
                line-height: 0;
                text-align: center;
            }
        }
    }
}

