{% extends '../base/base.html' %}

{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'scss/form.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}


{% block content %}
<section class="section section-form">
    <div class="container">
        <div class="form-wrapper">
            <h2 class="section-headline">Онлайн запись</h2>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form-container">
                    <fieldset class="fieldset">
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/service-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Выберите услугу</h2>
                        </div>
                        <div class="fieldset-content fieldset-content__column" id="service-types">
                            <label class="service-label service-label__row">
                                <input name="service_type" type="radio">
                                <span>Хранение шин / колес</span>
                            </label>

                            <label class="service-label service-label__row">
                                <input name="service_type" type="radio">
                                <span>Шиномонтаж - легковые автомобили</span>
                            </label>

                            <label class="service-label service-label__row">
                                <input name="service_type" type="radio">
                                <span>Шиномонтаж - Внедорожники, кроссоверы и минивэны</span>
                            </label>
                        </div>
                        <div class="fieldset-content fieldset-content__row" id="services">
                            <label class="service-label service-label__column select-label">
                                <span>Выберите радиус</span>
                                <select class="form-select" name="radius" id="">
                                    <option value="">R13</option>
                                    <option value="">R14</option>
                                    <option value="">R15</option>
                                </select>
                            </label>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset">
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/celender-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Выберите дату</h2>
                        </div>
                        <div class="fieldset-content">
                            <div class="celender-container">
                                <div class="celender-info">
                                    <span class="celender-date"></span>
                                    <div class="celender-swtitch">
                                        <button id="btnPrev" type="button"><</button>
                                        <button id="btnNext" type="button">></button>
                                    </div>
                                </div>
                                <div class="celender" id="divCal"></div>
                            </div>
                        </div>
                    </fieldset>
                    
                    <fieldset class="fieldset">
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/form-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Заполните форму</h2>
                        </div>                      
                        <div class="fieldset-content fieldset-content__column">
                            <input class="form-input" type="text" name="bio" placeholder="ФИО" id="">
                            <input class="form-input" type="text" name="phone" placeholder="Номер телефона" id="">
                            <textarea class="form-input form-textarea" name="message" id="" placeholder="Сообщение"></textarea>
                            <label class="service-label service-label__row">
                                <input class="form-checkbox" type="checkbox">
                                <span>Нажимая кнопку “Отправить”, я даю согласие на обработку персональных данных.</span>
                            </label>
                            <button class="form-button" type="submit">
                                <span>Отправить</span>
                                <img src="{% static 'images/form/icons/arrow-submit-icon.svg' %}" alt="Error...">
                            </button>
                        </div>  
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/scripts/celender.js' %}"></script>
<script src="{% static 'js/scripts/form.js' %}"></script>
{% endblock %}