{% extends '../base/base.html' %}

{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'scss/form.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}


{% block content %}
<section class="section section-form">
    <div class="container">
        <div class="form-wrapper">
            <h2 class="section-headline">Онлайн запись</h2>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form-container">
                    <fieldset class="fieldset">
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/service-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Выберите услугу</h2>
                        </div>
                        <input type="text" name="service_type" id="service-type-hidden" hidden>
                        <div class="fieldset-content fieldset-content__column" id="service-types">

                        </div>
                        <input type="text" name="service" id="service-hidden" hidden>
                        <div class="fieldset-content fieldset-content__row" id="services">
                            
                        </div>
                    </fieldset>

                    <fieldset class="fieldset">
                        <input type="text" name="date" id="date-hidden" hidden>
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/celender-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Выберите дату</h2>
                        </div>
                        <div class="fieldset-content">
                            <div class="celender-container">
                                <div class="celender-info">
                                    <span class="celender-date"></span>
                                    <div class="celender-swtitch">
                                        <button id="btnPrev" type="button"><</button>
                                        <button id="btnNext" type="button">></button>
                                    </div>
                                </div>
                                <div class="celender" id="divCal"></div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset">
                        <input type="text" name="time" id="time-hidden" hidden>
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/time-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Выберите время</h2>
                        </div>
                        <div class="fieldset-content">
                            <div class="time-container" id="time">

                            </div>
                        </div>
                    </fieldset>
                    
                    <fieldset class="fieldset">
                        <div class="fieldset-headline">
                            <div class="fieldset-headline-icon">
                                <img src="{% static 'images/form/icons/form-icon.svg' %}" alt="Error...">
                            </div>
                            <h2>Заполните форму</h2>
                        </div>                      
                        <div class="fieldset-content fieldset-content__column">
                            <input class="form-input" type="text" name="bio" placeholder="ФИО">
                            <input class="form-input" type="text" name="phone" placeholder="Номер телефона">
                            <textarea class="form-input form-textarea" name="message" placeholder="Сообщение"></textarea>
                            <label class="service-label service-label__row">
                                <input name="accept" class="form-checkbox" type="checkbox">
                                <span>Нажимая кнопку “Отправить”, я даю согласие на обработку персональных данных.</span>
                            </label>
                            <button class="form-button" type="submit">
                                <span>Отправить</span>
                                <img src="{% static 'images/form/icons/arrow-submit-icon.svg' %}" alt="Error...">
                            </button>
                        </div>  
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/scripts/celender.js' %}"></script>
<script src="{% static 'js/scripts/form.js' %}"></script>
<script src="{% static 'js/scripts/datetime-form.js' %}"></script>
{% endblock %}