{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site </title>

    <link rel="stylesheet" href="{% static 'css/zero.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">

    <link rel="stylesheet" href="{% static 'scss/base.css' %}">

    <script src="{% static '/js/libs/anime.js' %}"></script>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=28241a57-a742-40bf-a7a7-315bc9de7897&lang=ru_RU" type="text/javascript"></script>

    {% block link %}
    {% endblock %}

</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                
                <div class="logo">
                    <a class="header-link" href="{% url 'index' %}">ЛОГО</a>
                </div>

                <nav class="header-nav">
                    <a class="header-link" href="{% url 'pricing' %}">Хранение шин</a>
                    <a class="header-link" href="{% url 'pricing' %}">Шиномонтаж</a>
                    <a class="header-link" href="{% url 'pricing' %}">Цены</a>
                    <a class="header-link" href="{% url 'form' %}">Онлайн запись</a>
                    <a class="header-link"href="">Контакты</a>
                </nav>
                
                <div class="header-phone">
                    <span class="header-link">ТЕЛЕФОН</span>
                </div>

                <div class="header-burger">
                    <img src="{% static '/images/icons/burger-icon.svg' %}" alt="error...">
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <!-- offer -->
        <section class="section section-offer bckg-img">
            <div class="container">
                <div class="offer-wrapper">
                    <h2 class="offer-headline">Сезонное хранение шин и колес</h2>
                    <h2 class="offer-headline">Профессиональный шиномонтаж</h2>
                    <a href="{% url 'form' %}" class="offer-link">
                        <span>Оставить заявку</span>
                        <div class="offer-img">
                            <img src="{% static '/images/icons/arrow-right-icon.svg' %}" alt="error...">
                        </div>
                    </a>
                    <button class="offer-arrow-down-link" type="button">
                        <div class="offer-arrow-down">
                            <img src="{% static '/images/icons/arrow-down-icon.svg' %}" alt="error...">
                        </div>
                    </button>
                </div>
            </div>
        </section>
        {% block content %}
        {% endblock %}
        <!-- map -->
        <section class="section section-map" id="map">
            <div class="banner">
                <h3>ВСЕ, ЧТО СВЯЗАНО С ДИСКАМИ, ШИНАМИ И КОЛЕСНЫМИ ДИСКАМИ, </h3>
                <strong>ВСЕ ЭТО В ОДНОМ МЕСТЕ</strong>
            </div>
        </section>        
    </main>

    <footer class="footer bckg-img">
        <div class="container">
            <div class="footer-wrapper">
                <nav class="footer-nav">
                    <div class="footer-nav-item">
                        <h3 class="footer-nav-item-headline">Навигация</h3>
                        <a class="footer-nav-item-link" href="{% url 'pricing' %}">Хранение шин</a>
                        <a class="footer-nav-item-link" href="{% url 'pricing' %}">Шиномонтаж</a>
                        <a class="footer-nav-item-link" href="{% url 'form' %}">Онлайн запись</a>
                        <a class="footer-nav-item-link" href="">Контакты</a>
                    </div>
                    <div class="footer-nav-item">
                        <h3 class="footer-nav-item-headline">Часы работы</h3>
                        <a class="footer-nav-item-link">Вторник-воскресенье с 9:00 до 21:00</a>
                        <a class="footer-nav-item-link">Понедельник работа только с юридическими лицами.</a>
                    </div>
                    <div class="footer-nav-item">
                        <h3 class="footer-nav-item-headline">Адрес</h3>
                        <a class="footer-nav-item-link">Моховая улица, д 15</a>
                    </div>
                </nav>
                <div class="footer-copyright">
                    <p class="copyright-text">
                        Все права публикуемые на сайте sharazhmontazh.ru принадлежат ООО ”СКУФ КОЛЯ”©️
                    </p>
                    <p class="copyright-text">
                        Любая информация на данном сайте , носит исключительно  информационный характер  и не является публичной офертой, согласно ст.437 ГК РФ. 
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static '/js/scripts/arrow-animataion.js' %}"></script>
    <script src="{% static '/js/scripts/api-map.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>